.Font {
  color: #9B7C18;
  font-family: 'Cinzel Decorative', cursive;
}

/*Style for the footer class*/
.footer{
    margin-top: 2%;
    background: #f5f5f5;
    font-size:12px;
}
.centerContainer {
    text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 16%;
}

.App-header {
  background-color: #7ABA96;
  height: 2%;
  padding: 1%;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

.CannotPlay{
  background-color: #ffcccc;
}

.CanPlay{
  background-color:#ffdd99
}
/*Padding for the main content */
.Container {
    padding:5px 15% 10% 15%;
}
.Spacing {
    padding:10px 0% 0 0%;
}

.SpacingCards {
    padding:2% 2% 2% 2%;
}
